<div style='margin:auto;width:280px'>
<br />
	<span style='margin:0;font-size:36px;color: #d30404;'>Yah ketangkep sama</span>
</div>
<div style='margin:auto;width:360px'>
	<h2 style='margin:0;font-size:240px;color: #d30404;'>404</h2>
</div>
<div style='margin:auto;width:588px'>
	<span style='margin:0;font-size:36px;color: #d30404;'>Coba pastikan kata kuncinya dengan benar</span><br /><br />
</div>

