<html>
<head>
<style>
 body{ margin:0; padding:0; font-family:sans-serif;overflow-y:scroll; }
 h1{ margin:0; padding:0; }
 ul,li { padding:0; margin:0 }
 li { padding-top:10px; padding-bottom:10px; }
 span.parent { font-size: 15px; padding:7px 20px; display:block; cursor:pointer; }
 span.parent:hover { text-decoration: underline; }
 div.request { padding-bottom: 25px; margin-bottom: 25px; border-bottom: 1px solid #E6E6E6 }
 .fields { margin-top: 25px; }
 .fields table { width: 600px; border-collapse: collapse; }
 table th { text-align: left; background-color:#F7B0B0; }
 table th, table td { padding: 5px; border: 1px solid #B7B7B7; }
 table tr td:first-child { color: #C52F24; font-weight: bold; font-family: monospace; }
 table tr td:last-child { color: #64B702; font-weight: bold; font-family: monospace; }

 div.right-panel div.list { display: none; }
 div.right-panel div.list:first-child { display:block }
 div.right-panel div.list div.header { border-bottom:1px solid #E6E6E6; padding-bottom:25px; margin-bottom:20px; }
 div.right-panel div.list div.header span { font-size: 40px; }
 div.right-panel div.list div.request span:first-child { display:inline-block; margin-bottom:15px; }
 div.right-panel div.list div.request div.console { background-color: #5A5A5A; padding:15px; color:#8FDC33; font-family: monospace; }
</style>
<%= javascript_include_tag '/scripts/jquery-2.2.js', 'data-turbolinks-track' => true %>
</head>
<body>
<div style='background-color:#C52F24;color:#FFF;padding:5px 20px;position:fixed;width:100%;'>
  <h1>Hi, I am a helper page!</h1>
</div>
<div class='container' style='padding:55px;/*margin-left:30px;*/width:825px;margin:auto;'>
  <div class='left-panel' style='color:#C52F24; float:left;width:200px;background-color:#F7F7F7;margin-right:25px;position:fixed;padding:7px 0px;border: 1px solid #E4DEDE;'>
    <span class='parent' ref='#product'>Product</span>
   <% #<ul class='endpoints' style='list-style:none; padding-left:10px'>
     # <li>GET - v1/products</li>
     # <li>GET - v1/products/:id</li>
     # <li>POST - v1/products</li>
     # <li>PUT - v1/products/:id</li>
     # <li>DELETE - v1/products/:id</li>
   # </ul> %>
    <span class='parent' ref='#image'>Product Image</span>
    <span class='parent' ref='#category'>Category</span>
    <span class='parent' ref='#subcategory'>Subcategory</span>
    <span class='parent' ref='#review'>Product Review</span>
    <span class='parent' ref='#order'>Product Order</span>
    <span class='parent' ref='#orderdetail'>Order Detail</span>
    <span class='parent' ref='#member'>Member</span>
  </div>

  <div class='right-panel' style='width:600px;margin-left:225px;'>
    <div id='product' class='list'>
       <div class='header'>
          <span>Product</span>
       </div>
       <div class='request'>
          <span>Get All</span><br />
          <div class='console'>
          	<span>GET /v1/products</span><br />
 		<span>Host: localhost:3000</span>
 	  </div>
       </div>
       <div class='request'>
          <span>Get Product</span><br />
          <div class='console'>
          	<span>GET /v1/products/:id</span><br />
 		<span>Host: localhost:3000</span>
 	  </div>
       </div>
       <div class='request'>
          <span>Add New Product</span><br />
          <div class='console'>
          	<span>POST /v1/products</span><br />
 		<span>Host: localhost:3000</span>
 	  </div>
          <div class='fields'>
           	<table>
			<tr><th>Fields</th><th>Description</th><th>Type</th></tr>
                        <tr><td>subcategoryid</td><td>Product subcategory</td><td>Integer</td></tr>
                        <tr><td>name</td><td>Name of the product</td><td>String</td></tr>
                        <tr><td>detail</td><td>Detail of the product</td><td>String</td></tr>
                        <tr><td>ingredient</td><td>The ingredient used for the product</td><td>String</td></tr>
                        <tr><td>howtouse</td><td>How to use the product</td><td>String</td></tr>
                        <tr><td>volume</td><td>Volume of the product</td><td>Integer</td></tr>
                        <tr><td>status</td><td>Product availability</td><td>Boolean (1:0)</td></tr>
                        <tr><td>price</td><td>Price of the product</td><td>Double</td></tr>
                        <tr><td>discountprice</td><td>Discount price</td><td>Double</td></tr>
		</table>
          </div>
       </div>
       <div class='request'>
          <span>Update a Product</span><br />
          <div class='console'>
          	<span>PUT /v1/products/:id</span><br />
 		<span>Host: localhost:3000</span>
 	  </div>
          <div class='fields'>
           	<table>
			<tr><th>Fields</th><th>Description</th><th>Type</th></tr>
                        <tr><td>subcategoryid</td><td>Product subcategory</td><td>Integer</td></tr>
                        <tr><td>name</td><td>Name of the product</td><td>String</td></tr>
                        <tr><td>detail</td><td>Detail of the product</td><td>String</td></tr>
                        <tr><td>ingredient</td><td>The ingredient used for the product</td><td>String</td></tr>
                        <tr><td>howtouse</td><td>How to use the product</td><td>String</td></tr>
                        <tr><td>volume</td><td>Volume of the product</td><td>Integer</td></tr>
                        <tr><td>status</td><td>Product availability</td><td>Boolean (1:0)</td></tr>
                        <tr><td>price</td><td>Price of the product</td><td>Double</td></tr>
                        <tr><td>discountprice</td><td>Discount price</td><td>Double</td></tr>
		</table>
          </div>
       </div>
       <div class='request'>
          <span>Delete a Product</span><br />
          <div class='console'>
          	<span>DELETE /v1/products/:id</span><br />
 		<span>Host: localhost:3000</span>
 	  </div>
       </div>
    </div>
    <div id='image' class='list'>
       <div class='header'>
          <span>Product Image</span>
       </div>
       <div class='request'>
          <span>Get All Product Images</span><br />
          <div class='console'>
          	<span>GET /v1/products/:id/images</span><br />
 		<span>Host: localhost:3000</span>
 	  </div>
       </div>
       <div class='request'>
          <span>Get Image</span><br />
          <div class='console'>
          	<span>GET /v1/images/:id</span><br />
 		<span>Host: localhost:3000</span>
 	  </div>
       </div>
       <div class='request'>
          <span>Add New Image</span><br />
          <div class='console'>
          	<span>POST /v1/images</span><br />
 		<span>Host: localhost:3000</span>
 	  </div>
          <div class='fields'>
           	<table>
			<tr><th>Fields</th><th>Description</th><th>Type</th></tr>
                        <tr><td>productid</td><td>Product subcategory</td><td>Integer</td></tr>
                        <tr><td>caption</td><td>Name of the product</td><td>String</td></tr>
                        <tr><td>isdefault</td><td>Detail of the product</td><td>Boolean (1:0)</td></tr>
		</table>
          </div>
       </div>
       <div class='request'>
          <span>Delete an Image</span><br />
          <div class='console'>
          	<span>DELETE /v1/images/:id</span><br />
 		<span>Host: localhost:3000</span>
 	  </div>
       </div>
    </div>
    <div id='category' class='list'>
       <div class='header'>
          <span>Category</span>
       </div>
       <div class='request'>
          <span>Get All</span><br />
          <div class='console'>
          	<span>GET /v1/categories</span><br />
 		<span>Host: localhost:3000</span>
 	  </div>
       </div>
       <div class='request'>
          <span>Get Category</span><br />
          <div class='console'>
          	<span>GET /v1/categories/:id</span><br />
 		<span>Host: localhost:3000</span>
 	  </div>
       </div>
       <div class='request'>
          <span>Add New Category</span><br />
          <div class='console'>
          	<span>POST /v1/categories</span><br />
 		<span>Host: localhost:3000</span>
 	  </div>
          <div class='fields'>
           	<table>
			<tr><th>Fields</th><th>Description</th><th>Type</th></tr>
                        <tr><td>name</td><td>Name of the product</td><td>String</td></tr>
		</table>
          </div>
       </div>
       <div class='request'>
          <span>Update a Category</span><br />
          <div class='console'>
          	<span>PUT /v1/categories/:id</span><br />
 		<span>Host: localhost:3000</span>
 	  </div>
          <div class='fields'>
           	<table>
			<tr><th>Fields</th><th>Description</th><th>Type</th></tr>
                        <tr><td>name</td><td>Name of the product</td><td>String</td></tr>
		</table>
          </div>
       </div>
       <div class='request'>
          <span>Delete a Category</span><br />
          <div class='console'>
          	<span>DELETE /v1/categories/:id</span><br />
 		<span>Host: localhost:3000</span>
 	  </div>
       </div>
    </div>
    <div id='subcategory' class='list'>
       <div class='header'>
          <span>Subcategory</span>
       </div>
       <div class='request'>
          <span>Get All</span><br />
          <div class='console'>
          	<span>GET /v1/categories/:id/subcategories</span><br />
 		<span>Host: localhost:3000</span>
 	  </div>
       </div>
       <div class='request'>
          <span>Get Subcategory</span><br />
          <div class='console'>
          	<span>GET /v1/subcategories/:id</span><br />
 		<span>Host: localhost:3000</span>
 	  </div>
       </div>
       <div class='request'>
          <span>Add New Subcategory</span><br />
          <div class='console'>
          	<span>POST /v1/subcategories</span><br />
 		<span>Host: localhost:3000</span>
 	  </div>
          <div class='fields'>
           	<table>
			<tr><th>Fields</th><th>Description</th><th>Type</th></tr>
                        <tr><td>categoryid</td><td>Product subcategory</td><td>Integer</td></tr>
                        <tr><td>name</td><td>Name of the product</td><td>String</td></tr>
		</table>
          </div>
       </div>
       <div class='request'>
          <span>Update a Subcategory</span><br />
          <div class='console'>
          	<span>PUT /v1/subcategories/:id</span><br />
 		<span>Host: localhost:3000</span>
 	  </div>
          <div class='fields'>
           	<table>
			<tr><th>Fields</th><th>Description</th><th>Type</th></tr>
                        <tr><td>categoryid</td><td>Product subcategory</td><td>Integer</td></tr>
                        <tr><td>name</td><td>Name of the product</td><td>String</td></tr>
		</table>
          </div>
       </div>
       <div class='request'>
          <span>Delete a Product</span><br />
          <div class='console'>
          	<span>DELETE /v1/subcategories/:id</span><br />
 		<span>Host: localhost:3000</span>
 	  </div>
       </div>
    </div>
  </div>
</div>
<script>
   $(document).ready(function(){
  	$('.parent').click(function(){
		var id = $(this).attr('ref');
		$('.list').css('display','none');
                $('.list'+id).css('display','block');
                window.location.hash = id;
                document.body.scrollTop = document.documentElement.scrollTop = 0;
	});
   });
</script>
</body>
</html>
