<!DOCTYPE html>
<html>
<head>
  <title>SillamodaApi</title>
  <%= #stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= #javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= #csrf_meta_tags %>
  <% javascript_include_tag '/scripts/jquery-2.2.js', 'data-turbolinks-track' => true %>
</head>
<body>

<%= yield %>

</body>
</html>
